<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>0</td> <td title="&gt;&gt;Base.bs()[pri:0, instance:demo2.Demo2@2accdbb5]">&gt;&gt;bs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>29</td> <td>&nbsp;</td><td title="&gt;&gt;Base.beforeT()[pri:0, instance:demo1.Demo1@77eca502]">&gt;&gt;beforeT</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="94d271">  <td>20/10/28 19:15:11</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo1.tc1()[pri:0, instance:demo1.Demo1@77eca502]">tc1</td> 
  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>202</td> <td>&nbsp;</td><td title="&lt;&lt;Base.at()[pri:0, instance:demo1.Demo1@77eca502]">&lt;&lt;at</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>595</td> <td>&nbsp;</td><td title="&gt;&gt;Base.beforeT()[pri:0, instance:demo2.Demo2@2accdbb5]">&gt;&gt;beforeT</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="ada98c">  <td>20/10/28 19:15:11</td>   <td>601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo2.tc2()[pri:0, instance:demo2.Demo2@2accdbb5]">tc2</td> 
  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>620</td> <td>&nbsp;</td><td title="&lt;&lt;Base.at()[pri:0, instance:demo2.Demo2@2accdbb5]">&lt;&lt;at</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/10/28 19:15:11</td>   <td>726</td> <td title="&lt;&lt;Base.as()[pri:0, instance:demo2.Demo2@2accdbb5]">&lt;&lt;as</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341138954</td>   <td></td> </tr>
</table>
